@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Cond.otf')  format('opentype'),
		   url('../fontsMyriadPro-Cond.woff') format('woff'), url('../fontsMyriadPro-Cond.ttf')  format('truetype'), url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
	font-weight: normal;
	font-style: normal;
  }

body {
	font-family: 'MyriadPro-Cond', Arial, Helvetica, sans-serif!important;
	font-stretch: condensed;
}

.navbar-link, a.navbar-item {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid white;
    margin: 10px;
    width: 100px;
    text-align: center;
    color: white;
	opacity: 1;
}

section#hero1 {
	background: url('../images/24735_medium.jpg'), rgba(0, 222, 31, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero1 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero1 span>a:hover {
	opacity: 0.7;
}

section#hero1 h1 {
	width: 24rem;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero1 strong {
	color: white;
}

section#hero2 {
	background: url('../images/slide02.jpg'), rgba(198, 222, 31, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero2 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero2 span>a:hover {
	opacity: 0.7;
}

section#hero2 h1 {
	width: 400px;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero2 strong {
	color: white;
}

section#hero3 {
	background: url('../images/slide03.jpg'), rgba(222, 72, 0, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero3 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero3 span>a:hover {
	opacity: 0.7;
}

section#hero3 h1 {
	width: 400px;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero3 strong {
	color: white;
}

div.is-pulled-down {
	position: relative;
	top: 2rem;
}

div.vertical-borders {
	position: relative;
	top: 2em;
}

div.vertical-borders div {
	padding: 5px;
	border-left: 2px white solid;
}

.hero-head {
	background: rgba(233, 233, 233, 0.7);
}

.owl-prev {
	font-size: 2em;
	color:white;
    background: transparent;
    border: transparent;
}

.owl-next {
	float:right;
	color: white;
	font-size: 2em;
    background: transparent;
    border: transparent;
}

#miVi p {
	color: #1D71B6;
	padding-left: 20px;
	font-size: 0.9rem;
}

div#innerWhoWeAre {
	background: #F0EFEA;
    padding: 3rem;
	padding-bottom: 16.13rem;
}

#innerWhoWeAre p {
	font-size: 0.95rem;
}

#innerWhoWeAre h4 {
	font-weight: bold;
	color: #1D71B6;
}

#whatWeDo div.content {
	padding: 4rem 1rem 7.1rem 1rem;
    background: #f0efea;
    line-height: 1;
}

div#innerPHC {
	padding: 6rem;
    background: #f0efea;
    padding-bottom: 12rem;
}

div#innerPHC h4 {
	padding-bottom: 2em;
	font-weight: bold;
	color: #1D71B6;
}

div#innerPHC span {
	padding: 0.2rem 0.7rem 0 0.7rem;
    border: 3px solid black;
	margin-right: 0.5em;
	color: #1D71B6;
	border-color: #1D71B6;
}

div#innerPHC span#innerP {
	padding-right:1rem;
}

div#innerPHC span#innerC {
	padding-right: 0.9rem;
}

div#innerMoreServices {
	padding: 5rem;
	padding-bottom: 2rem;
	background: #f0efea;
}

div#innerMoreServicesWrapper {
	padding-left: 0;
}

div#innerMoreServices h4 {
	font-weight: bold;
	margin-bottom: 40px;
}

div.columns#innerMoreServicesFC figure {
	border: 4px solid #9A9A9A;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.blue-title {
	background: #1D71B6;
	color: white;
	padding: 20px 0px 3px 15px;
}

h3.blue-title {
	margin-bottom: 20px;
}

.blue-title strong {
	color: white;
}

div#finalInfo {
	margin-top: 20px;
	background: url("../images/texture.png");
	padding: 4rem;
	font-size: 1.3rem;
}

@media (max-width:425px) {
	section#hero1 h1 {
		width: 200px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.5rem!important
	}
	section#hero2 h1 {
		width: 200px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.5rem!important;
	}
	section#hero3 h1 {
		width: 200px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.5rem!important
	}
	div.is-pulled-down {
		top: 0;
	}
}

@media (max-width:769px;) {
	div.is-pulled-down {
		top: 0;
	}
}