@font-face {
	font-family: 'MyriadPro-Cond';
	src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Cond.otf')  format('opentype'),
		   url('../fontsMyriadPro-Cond.woff') format('woff'), url('../fontsMyriadPro-Cond.ttf')  format('truetype'), url('../fonts/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
	font-weight: normal;
	font-style: normal;
  }

body {
	font-family: 'MyriadPro-Cond', Arial, Helvetica, sans-serif!important;
	font-stretch: condensed;
}

.title {
	font-weight: normal;
}

.title strong {
	font-weight: bold;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top {
	z-index:1;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top a.navbar-item {
	cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid black;
    margin: 10px;
    width: 100px;
    text-align: center;
    color: black;
	opacity: 1;	
	transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 0.5s;
}

.navbar.is-fixed-bottom, .navbar.is-fixed-top a.navbar-item:hover {
	color: #1D71B6;
	border-color: #1D71B6;
}

.navbar-link, a.navbar-item {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid white;
    margin: 10px;
    width: 100px;
    text-align: center;
    color: white;
	opacity: 1;
}

a#hiddenBurger {
	color: #1D71B6;
}

a.navbar-item.c-list {
	padding-left: 20px;
}

button.owl-prev:focus {
	outline: none;
}

button.owl-next:focus {
	outline: none;
}

section#hero1 {
	background: url('../images/slide01.jpg'), rgba(0, 222, 31, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero1 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero1 span>a:hover {
	opacity: 0.7;
}

section#hero1 h1 {
	width: 24rem;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero1 strong {
	color: white;
}

section#hero2 {
	background: url('../images/slide02.jpg'), rgba(198, 222, 31, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero2 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero2 span>a:hover {
	opacity: 0.7;
}

section#hero2 h1 {
	width: 500px;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero2 strong {
	color: white;
}

section#hero3 {
	background: url('../images/slide03.jpg'), rgba(222, 72, 0, 0.4);
    background-size: cover;
	background-blend-mode: multiply;
	margin-bottom: 2.2rem;
}

section#hero3 span>a {
	color: white;
	transition: all 0.8s fluid;
}

section#hero3 span>a:hover {
	opacity: 0.7;
}

section#hero3 h1 {
	width: 500px;
	border: 4px white solid;
	padding: 20px;
	color: white
}

section#hero3 strong {
	color: white;
}

div.is-pulled-down {
	position: relative;
	top: 2rem;
}

div.vertical-borders {
	position: relative;
	top: 13em;
}

div.vertical-borders div {
	padding: 5px;
	border-left: 2px white solid;
}

.hero-head {
	background: rgba(233, 233, 233, 0.7);
}

.owl-prev {
	font-size: 6em;
	color:white;
    background: transparent;
	border: transparent;
	font-weight: lighter;
}

.owl-next {
	float:right;
	color: white;
	font-size: 6em;
    background: transparent;
	border: transparent;
	font-weight: lighter;
}

#miVi p {
	color: #1D71B6;
	padding-left: 20px;
	font-size: 1.1rem;
}

div#innerWhoWeAre {
	background: #F0EFEA;
    padding: 3rem;
	padding-bottom: 10.9rem;
}
#innerWhoWeAre p {
	font-size: 1.1rem;
}

#innerWhoWeAre h4 {
	font-weight: bold;
	color: #1D71B6;
	font-size: 1.5rem;
}

#whatWeDo div.content {
	padding: 3rem 1rem 4.2rem 2rem;
    background: #f0efea;
    line-height: 1;
}

#whatWeDo div.content>h4 {
	font-size: 1.5em;
}

#whatWeDo div.content>ul {
	font-size: 1.1em;
	margin-left: 1em;
	list-style-image: url('/assets/images/new-small-dot.gif');
}

div#innerPHC {
	padding: 6rem;
    background: #f0efea;
    padding-bottom: 12rem;
}

div#innerPHC p {
	font-size: 1.3em;
}

div#innerPHC h4 {
	padding-bottom: 2em;
	font-weight: bold;
	color: #1D71B6;
}

div#innerPHC span {
	padding: 0.2rem 0.7rem 0 0.7rem;
    border: 3px solid black;
	margin-right: 0.5em;
	color: #1D71B6;
	border-color: #1D71B6;
}

div#innerPHC span#innerP {
	padding-right:1rem;
}

div#innerPHC span#innerC {
	padding-right: 0.9rem;
}

div#innerMoreServices {
	padding: 5rem;
	padding-bottom: 2rem;
	background: #f0efea;
}

div#innerMoreServicesWrapper {
	padding-left: 0;
}

div#innerMoreServices h4 {
	font-weight: bold;
	margin-bottom: 40px;
}

div.columns#innerMoreServicesFC figure {
	border: 4px solid #9A9A9A;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

div#contact .button {
	background: black;
	color: white;
	font-size: 1.3em;
	border:none;
	border-radius: 0%;
}

.blue-title {
	background: #1D71B6;
	color: white;
	padding: 20px 0px 3px 15px;
	font-size: 2.3em;
}

h3.blue-title {
	margin-bottom: 20px;
}

.blue-title strong {
	color: white;
}

.input, .textarea {
	background-color: transparent;
	border: 1px black solid;
	border-radius: 0%;
}

.input::placeholder, .textarea::placeholder {
	color: black;
	opacity: 1;
}

.input:hover, .textarea:hover {
	background-color: transparent;
	border: 1px black solid;
	border-radius: 0%;
}

section#finalInfo {
	background: url("../images/texture.png");
	padding: 4rem;
	font-size: 1.3rem;
}

@media (min-width:1441px) {
	#whatWeDo div.content>h4 {
		font-size: 2em;
	}
	#whatWeDo div.content>ul {
		font-size: 1.3em;
	}
	#innerWhoWeAre h4 {
		font-size: 2em;
	}
	#innerWhoWeAre p {
		font-size: 1.3em;
	}
	div#innerPHC h4 {
		font-size: 2em!important;
	}
	div#innerPHC {
		padding-bottom: 14rem;
	}
}

@media (max-width:768px) {
	div.is-pulled-down {
		position: relative;
		top: -3em;
	}
	section#hero1 div.vertical-borders {
		top: 12em;
		left: 23em;
	}
	div.vertical-borders {
		top: 5em;
	}
	.navbar.is-fixed-bottom, .navbar.is-fixed-top a.navbar-item {
		width: 97%;
	}
	.navbar-link, a.navbar-item {
		width: 97%;
		color: black;
		border: 4px black solid;
	}
}


@media (max-width:425px) {
	section#hero1 h1 {
		width: 250px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.5rem!important
	}
	section#hero2 h1 {
		width: 250px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.3rem!important;
	}
	section#hero3 h1 {
		width: 250px;
		border: 4px white solid;
		padding: 1rem;
		color: white;
		font-size: 1.3rem!important
	}
	div.is-pulled-down {
		top: 0;
	}
	div.vertical-borders {
		top:2em;
	}
	.navbar-link, a.navbar-item {
		width: 94%;
		color: black;
		border: 4px black solid;
	}
	.navbar-burger {
		color: black;
	}
	.navbar.is-fixed-bottom, .navbar.is-fixed-top a.navbar-item {
		width: 94%;
	}

	.image.is-128x128.smaller-mobile {
		width: 64px;
		height: 64px;
	}
}

